<h1 class="mt-5" align="center">Add Task</h1>
<br>
<div class="text-center">
    @if (!mostrarFormulario) {
        <button type="submit" class="btn btn-success" (click)="mostrarFormulario=true">New Task</button>
    }@else {
        <button type="submit" class="btn btn-success" (click)="mostrarFormulario=false">New Task</button>
    }
</div>
<br>
@if (mostrarFormulario) {
    <div class="container">
        <form (ngSubmit)="addTask()">
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label>
                <input type="text" class="form-control" id="title" name="title" [(ngModel)]="newTask.title">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label>
                <input type="text" class="form-control" id="description" name="description" [(ngModel)]="newTask.description">
            </div>
            <div class="mb-3">
                <label for="priority" class="form-label">Priority:</label>
                <select class="form-select" id="priority" name="priority" [(ngModel)]="newTask.priority">
                    <option value="low">Low</option>
                    <option value="medium">Medium</option>
                    <option value="high">High</option>
                </select>
            </div>
            <button type="submit" class="btn btn-success">Add</button>
        </form>
    </div>
}

